<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>

    
    <section class="content">
        
        
        <div>

            <div class="login-box">
                    
                        <div class="login-logo" *ngIf=retrievedImage style="font-size:32px">
                            <a href="../../index2.html"><b>{{fetchedInstituteName}}</b></a>
                        </div>
                   
                <!-- <div class="container row"> -->
                    <div class="login-logo">
                        <div *ngIf=retrievedImage>
                            <img style="width:100px;height:100px;" [src]="retrievedImage">
                        </div>
                    </div>
                  <!-- </div> -->
                
                <div class="login-box-body">
                    <div class="login-logo" style="font-size:32px">
                        <a href="../../index2.html"><b>Sign In </b></a>
                    </div>

                    



                    <form (ngSubmit)="handleJwtBasicAuthLogin()">
                        <div class="form-group has-feedback">
                            <input name="email" [(ngModel)]="email" type="email" class="form-control"
                                placeholder="Email" required="required">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input name="password" [(ngModel)]="password" type="password" class="form-control"
                                placeholder="Password" required="required">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                            </div>
                        </div>
                        

                    </form>


                    <a href="#">I forgot my password</a><br>

                </div>
                <!-- /.login-box-body -->
            </div>

        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>