
<!-- 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Boxed Layout</title>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head> -->
<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
  
<app-header></app-header>
  
    <!-- =============================================== -->
  
    <!-- Left side column. contains the sidebar -->
    <app-sidebar></app-sidebar>
  
    <!-- =============================================== -->
  
    <!-- Content Wrapper. Contains page content -->
<router-outlet></router-outlet>
  <!-- ./wrapper -->
  <!-- <app-sign-in></app-sign-in> -->
  <app-footer></app-footer>
  </div>
  