<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header">MAIN NAVIGATION</li> -->
        <li class="treeview" *ngIf="!basicAuthenticationService.isUserLoggedIn()">
          <a routerLink = "/adminLogin">
            <i class="fa fa-sign-in"></i> <span>Sign in</span>
            <span class="pull-right-container">
              <!-- <i class="fa fa-angle-left pull-right"></i> -->
            </span>
          </a>
        </li>
        <li class="treeview" *ngIf="basicAuthenticationService.isUserLoggedIn() && basicAuthenticationService.getAccessFlagA()">
          <a routerLink = "/admin/createNewUser">
            <i class="fa fa-sign-in"></i> <span>Create New User</span>
            <span class="pull-right-container">
              <!-- <i class="fa fa-angle-left pull-right"></i> -->
            </span>
          </a>
        </li>
          <li class="treeview" *ngIf="basicAuthenticationService.isUserLoggedIn() && basicAuthenticationService.getAccessFlagA()">
          <a routerLink = "/admin/modifyUser">
            <i class="fa fa-sign-in"></i> <span>Modify Existing User</span>
            <span class="pull-right-container">
              <!-- <i class="fa fa-angle-left pull-right"></i> -->
            </span>
          </a>
        </li>

        <!-------institution------------->
        <li class="treeview" *ngIf="basicAuthenticationService.isUserLoggedIn() && basicAuthenticationService.getAccessFlagI()">
          <a routerLink = "/registerStudent">
            <i class="fa fa-sign-in"></i> <span>Student Registration</span>
            <span class="pull-right-container">
              <!-- <i class="fa fa-angle-left pull-right"></i> -->
            </span>
          </a>
        </li>
          <li class="treeview" *ngIf="basicAuthenticationService.isUserLoggedIn() && basicAuthenticationService.getAccessFlagI()">
          <a routerLink = "modifyStudent">
            <i class="fa fa-sign-in"></i> <span>Modify Existing Student</span>
            <span class="pull-right-container">
              <!-- <i class="fa fa-angle-left pull-right"></i> -->
            </span>
          </a>
        </li>

<!------------------------------------------------------------------------>        
        <li class="treeview" *ngIf="basicAuthenticationService.isUserLoggedIn()">
          <a routerLink = "/logout">
            <i class="fa fa-sign-in"></i> <span>Sign Out</span>
            <span class="pull-right-container">
              <!-- <i class="fa fa-angle-left pull-right"></i> -->
            </span>
          </a>
        </li>

    </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
